body {
  padding-top: 120px;
}

.cover {
  height: 100px;
}

.table .action {
  vertical-align: middle;
}

.table .action img {
  cursor: pointer;
}

#addBookModalWindow.show {
  display: block;
  top: 75px;
}

#messages .alert {
  margin: 0;
}