body {
  padding-top: 120px;
}

.cover {
  height: 100px;
}

.table .action {
  vertical-align: middle;
}

.table .action img {
  cursor: pointer;
}

#addBookModalWindow.show {
  display: block;
  top: 75px;
}

#messages .alert {
  margin: 0;
}

.table .title { width: 20%; }
.table .description { width: 50%; }
.table .isbn { width: 10%; }
.table .covers { width: 10%; }
.table .action { width: 5%; }
